
.serverMsg1 {
  width: 100%;
  font-family: "Jua";
  display: flex;
  justify-content: center;
}

.userList {
  margin: 10px 0 0 30px;
  transition: 0.2s;
}
.userList:hover {
    cursor: pointer;
    transform: translateX(4px);
}
.userList a {
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
}


.join_form {
  background-color: rgb(57, 68, 78);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join_form h3 {
margin-top: 20px;
}

.join_form .userbox {
padding: 50px 50px;
color: black;
line-height: 1.5;
background-color: orange;
margin: 50px;
}
