
<ul class="SignUp">
  <li><a class="socialSignUp" href="#none"><span class="SignUp_LogoImg"><img src="http://i.evasion.co.kr/data/image/sign_up/naver_main.png" alt="네이버 로고"/></span><span class="socialText">네이버로 회원가입</span></a></li>
  <li><a class="socialSignUp" href="#none"><span class="SignUp_LogoImg"><img src="http://i.evasion.co.kr/data/image/sign_up/fb_main.png" alt="페이스북 로고"/></span><span class="socialText">페이스북으로 회원가입</span></a></li>
  <li><a class="socialSignUp" href="#none"><span class="SignUp_LogoImg"><img src="http://i.evasion.co.kr/data/image/sign_up/google_main.png" alt="구글 로고"/></span><span class="socialText">구글로 회원가입</span></a></li>
</ul>