doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
        block stylesheet
    body
        header 테스트 헤더
        block content
        footer 테스트 푸터
        block script