ul.SignUp
    li
        a(href="#none").socialSignUp
            span.SignUp_LogoImg
                img&attributes({"src": "http://i.evasion.co.kr/data/image/sign_up/naver_main.png", "alt" : "네이버 로고"})
            span.socialText.
                네이버로 회원가입
    li
        a(href="#none").socialSignUp
            span.SignUp_LogoImg
                img&attributes({"src": "http://i.evasion.co.kr/data/image/sign_up/fb_main.png", "alt" : "페이스북 로고"})
            span.socialText.
                페이스북으로 회원가입
    li
        a(href="#none").socialSignUp
            span.SignUp_LogoImg
                img&attributes({"src": "http://i.evasion.co.kr/data/image/sign_up/google_main.png", "alt" : "구글 로고"})
            span.socialText.
                구글로 회원가입