body{
    --header-height: 2vw;
    --footer-height: 2vw;
}

header, footer {
    width: 100vw;
    font-weight: bold;
    text-align: center;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    height: var( --header-height );
    background-color: rgb(242, 246, 248);
    color: black;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: var( --footer-height );
    background-color: rgb(0, 24, 44);
    color: white;
}
main{
    width: 100vw;
    margin: var( --header-height ) 0 var( --footer-height ) 0;
}