extends template/layout.pug
block title
  title Hotel Service
block stylesheet
  link(rel="stylesheet", href="/styles.css")
block content 
  p 이것은 내용입니다.</br> 이것은 내용입니다.</br>이것은 내용입니다.</br>이것은 내용입니다.</br>이것은 내용입니다.</br>이것은 내용입니다.</br>
block script
  script(src="#none")