<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cheers
    link(rel="stylesheet", href="/styles.css")
  body
    .wrapper
      h1 개발 테스트 페이지
      .announce_box
        p 서비스 개발에 대한 이해와 개발 능력 증강을 위한 2인 프로젝트
        p 주제좀 정하고 갑시다.
        p 토익, 산업기사 공부에 영향안가도록 프로젝트 커리큘럼 잘 조율합시다.