extends ../template/layout.pug
block title
  title= title
block stylesheet
  link(rel="stylesheet", href="/styles.css")
block content
  .wrapper
    h1.serverMsg1 님 로그인 실패함 ㅋㅋ;
    p.serverMsg1 서버 로그와 데이터베이스를 확인하세요.