<!DOCTYPE html>
<html lang="ko">
    <head>
        <link 
            rel="shortcut icon" 
            sizes="16x16 32x32 64x64" 
            href="https://cdn2.iconfinder.com/data/icons/health-and-medical-28/64/94-512.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome Page</title>
        <link rel="stylesheet" href="src/layout.css">
        <link rel="stylesheet" href="src/styles.css">
    </head>
    <body>
        <header class="index-header">
            <a href="#none" class="main-logo"><img src="#none" alt="사이트 로고 이미지" /></a>
            <a href="#none" id="loginButton">→ LOGIN</a>
        </header>
        <main>
            <section class="first-section">
                <article class="join-box">
                    <span class="welcome-message">This is Welcome Message</span>
                    <div>[회원가입 폼 박스]</div>
                </article>
            </section>
            <a href="#none" class="index-banner">
                <img src="#none" alt="이벤트 배너 이미지" width="100%" height="135px" />
            </a>
            <section class="second-section">
                <p class="site-info"> <b>사이트</b> 간략 소개 메세지</p>
            </section>
            <section class="third-section">
                
            </section>
            <section class="fourth-section">
                
            </section>
            <section class="fifth-section">
                
            </section>
            <section class="sixth-section">
                
            </section>
        </main>
        <footer class="index-footer"></footer>
    </body>
</html>
                    