<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="shortcut icon" sizes="16x16 32x32 64x64" href="https://cdn2.iconfinder.com/data/icons/health-and-medical-28/64/94-512.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Service - Welcome!</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <section class="index-section" id="first-section"></section>
    <section class="index-section" id="second-section"></section>
    <section class="index-section" id="third-section"></section>
    <section class="index-section" id="fourth-section"></section>
    <section class="index-section" id="fifth-section"></section>
    <section class="index-section" id="sixth-section"></section>
  </body>
</html>