<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>은기스닷컴</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>테스트 헤더</header>
    <div class="wrapper">
      <h1>테스트 페이지</h1>
      <div class="announce_box">
        <ul class="sign-up">
          <li><a class="social-sign-up" href="#none"><span class="logo-img-naver"><img src="http://i.evasion.co.kr/data/image/sign_up/naver_main.png" alt="네이버 로고" width="20px" height="20px"></span><span class="social-text">네이버로 회원가입</span></a></li>
          <li><a class="social-sign-up" href="#none"><span class="logo-img-facebook"><img src="http://i.evasion.co.kr/data/image/sign_up/fb_main.png" alt="페이스북 로고" width="20px" height="20px"></span><span class="social-text">페이스북으로 회원가입</span></a></li>
          <li><a class="social-sign-up" href="#none"><span class="logo-img-google"><img src="http://i.evasion.co.kr/data/image/sign_up/google_main.png" alt="구글 로고" width="20px" height="20px"></span><span class="social-text">구글로 회원가입</span></a></li>
          <div class="sign-up-division">
            <div class="hr-sect">또는</div>
          </div>
          <div class="manual-sign-up">
            <form class="manual-sign-up-form" method="post" action="#none">
              <ul class="input-form">
                <li>
                  <input class="sign-up-email" type="email" name="signUpEmail" value placeholder="이메일 주소 입력">
                </li>
                <li>
                  <input class="sign-up-btn" type="submit" name value="회원가입">
                </li>
              </ul>
              <div class="age-limit">
                <p>* 만 19세 이상 가입 가능</p>
                <p>* 어마무시한 내용</p>
              </div>
            </form>
          </div>
        </ul>
      </div>
    </div>
    <footer>테스트 푸터</footer>
    <script src="#none"></script>
  </body>
</html>