<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>은기스닷컴</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>테스트 헤더</header>
    <div class="wrapper">
      <h1>테스트 페이지</h1>
      <div class="announce_box">
        <ul class="SignUp">
          <li><a class="socialSignUp" href="#none"><span class="SignUp_LogoImg"><img src="http://i.evasion.co.kr/data/image/sign_up/naver_main.png" alt="네이버 로고"></span><span class="socialText">네이버로 회원가입</span></a></li>
          <li><a class="socialSignUp" href="#none"><span class="SignUp_LogoImg"><img src="http://i.evasion.co.kr/data/image/sign_up/fb_main.png" alt="페이스북 로고"></span><span class="socialText">페이스북으로 회원가입</span></a></li>
          <li><a class="socialSignUp" href="#none"><span class="SignUp_LogoImg"><img src="http://i.evasion.co.kr/data/image/sign_up/google_main.png" alt="구글 로고"></span><span class="socialText">구글로 회원가입</span></a></li>
        </ul>
      </div>
    </div>
    <footer>테스트 푸터</footer>
    <script src="#none"></script>
  </body>
</html>